/*============================================Formulaire==================================*/
form{
    background: #eee;
    background: -webkit-linear-gradient(#fff,#eee);
    background: -moz-linear-gradient(#fff,#eee);
    background: -ms-linear-gradient(#fff,#eee);
    background: -o-linear-gradient(#fff,#eee);
    background: linear-gradient(#fff,#eee);
    color: #000000;
}

legend{
    padding-top:3px;     
    padding-left:15px;
    padding-right:15px;
    height:25px;    width:auto;
    border-radius: 5px;
    background: linear-gradient(#3b6ac2,#09c);
    background:     -webkit-linear-gradient(top,#3b6ac2,#09c);
    background:     -moz-linear-gradient(top,#3b6ac2,#09c);
    background:     -o-linear-gradient(top,#3b6ac2,#09c);
    box-shadow: 0 1px 1px rgba(0,0,0,1) inset;
        -webkit-box-shadow:0 1px 1px rgba(0,0,0,1) inset;
        -moz-box-shadow:0 1px 1px rgba(0,0,0,1) inset;       
}

label{
    padding-left:5px;
    padding-top:7px;
    display: block;
    float: left;
    width: 130px;
    height: 30px;
    border-radius:5px 0 0 5px;
        -webkit-border-radius:5px 0 0 5px;
        -moz-border-radius:5px 0 0 5px;      
    background: linear-gradient(#3b6ac2,#09c);
    background:     -webkit-linear-gradient(top,#3b6ac2,#09c);
    background:     -moz-linear-gradient(top,#3b6ac2,#09c);
    background:     -o-linear-gradient(top,#3b6ac2,#09c);
    box-shadow: 0 1px 1px rgba(0,0,0,1) inset;
        -webkit-box-shadow:0 1px 1px rgba(0,0,0,1) inset;
        -moz-box-shadow:0 1px 1px rgba(0,0,0,1) inset;
    z-index: 100;
}

input, select{
    display: inline-block;
    height: 35px;       width:30%;
    padding-left: 10px;
    margin-left:0;
    border: none;
    color: #cecece;
    text-shadow: 0 1px 0 #000;
    background: #1f2026;
    border-radius:0 5px 5px 0;
        -webkit-border-radius:0 5px 5px 0;
        -moz-border-radius:0 5px 5px 0;
    box-shadow:0 1px 1px #000 inset;
        -webkit-box-shadow:0 1px 1px #000 inset;
        -moz-box-shadow:0 1px 1px #000 inset;
         
}

select{
    height:37px;       width:31%;
    padding-top:7px;
}

textarea{
    display: inline-block;
    margin-top:0;       margin-left:0;
    text-shadow: 0 1px 0 #000;
    color: #cecece;
    
    box-shadow:0 1px 1px #000 inset;
        -webkit-box-shadow:0 1px 1px #000 inset;
        -moz-box-shadow:0 1px 1px #000 inset;        
    background: #1f2026;
    border-radius:0 5px 5px 5px;
        -webkit-border-radius:0 5px 5px 5px;
        -moz-border-radius:0 5px 5px 5px;       
}

input:hover, textarea:hover, select:hover{
    box-shadow:-1px -1px 10px 0 #3531ff;
        -webkit-box-shadow:-1px -1px 10px 0 #3531ff;
        -moz-box-shadow:-1px -1px 10px 0 #3531ff;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px; 
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"] + label{
    width:175px;
    color: #cecece;
    text-shadow: 0 1px 0 #000;
    background: #1f2026;
    border-radius:0 5px 5px 0;
        -webkit-border-radius:0 5px 5px 0;
        -moz-border-radius:0 5px 5px 0;
    box-shadow:0 1px 1px #000 inset;
        -webkit-box-shadow:0 1px 1px #000 inset;
        -moz-box-shadow:0 1px 1px #000 inset;
        
}

input[type="checkbox"] + label::before{
    margin-top:8px;
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    background-image:url(../images/checkb.jpg);
}

input[type="checkbox"]:checked + label::before{
    background-image:url(../images/checkbc.jpg);
}

label p{
    height: 20px;   width: 200px;
    margin-top: -22px;      margin-left: 30px;
}

#but-actu{              /*boutton page presentation*/
    width: 120px;
    height: 55px;
}

button{
    width: 90px;
    height: 30px;
    margin-left: 5px;
    color: #cecece;
    background: #1f2026;
    background: -moz-linear-gradient(top,#1f2026,#15161a);
    background: -webkit-gradient(linear,left top,left bottom,from(#1f2026),to(#15161a));
    background: -o-gradient(linear,left top,left bottom,from(#1f2026),to(#15161a));
    border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
    box-shadow:0 1px 1px #000 inset;
    text-shadow:0 1px 0 #000;
        -webkit-box-shadow:0 1px 1px #000 inset;
        -moz-box-shadow:0 1px 1px #000 inset;
}

.recette{
    margin-left:45%;
    color:black;
    width: 130px;
    height: 20px;
    background:none;
}

button:hover{
    background: linear-gradient(#1f2026,#15161a);
    background:     -webkit-linear-gradient(linear,left top,left bottom,from(#1f2026),to(#15161a));
    background:     -moz-linear-gradient(linear,left top,left bottom,from(#1f2026),to(#15161a));
    background:     -o-linear-gradient(linear,left top,left bottom,from(#1f2026),to(#15161a));
    box-shadow:0 0 2px #000;
        -webkit-box-shadow:0 0 2px #000;
        -moz-box-shadow:0 0 2px #000;        
}