html{
    background-color: #f2f2f1;
    width:100%;
}

a{
    color:black;
}

body{
    width:100%;
}

nav{
    left:0;
    margin:0;
}

ul{
    position:absolute;
    list-style-type: none;
    top:0;
    margin:0;
    left:0;
    background-color:#1d4ba4;
}

li{
    display: list-item;
    left:0;
    padding-left: 35px;
    background-color: #C20013;
    width:100%;
    border: 1px groove white;
    margin: 3px;
}

#lang{
    right:10%;
    width:15px;     height:10px;
    position: absolute;
}

img{
    height: 35px;
    width: 35px;
 }    
#contenu, object, #rub{
    display: block;
    margin:0;
    border:0;
    width:100%;     height: 5000px;
    top:0;
    position: absolute;
}

#contenu{
    top:50%;
    left:-3%;
}
h1{
    color: blue;
    font-size:1em;   
}

iframe{
    height:190px;
    width: 100%;
}
.second_nav{
    display:none;
    visibility: hidden;
}
#html5{
    width:80px;
    height:40px;
}